/* Reset some default styles */
body,
h1,
h2,
h3,
p,
ul,
li {
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  text-align: center;
  color: white;
  margin: 0;
  background-image: url("../images/background-image.jpg");
  background-size: cover, auto;
  background-position: center, center;
  background-repeat: no-repeat;
  background-attachment: fixed, fixed;
}

main {
  flex-grow: 1;
  margin-top: 20px;
}

#preloader {
  background: linear-gradient(to bottom, #9d69f1, #3001b3cc, #4810af),
    black url(../images/preloader.gif) no-repeat center center;
  background-size: 10%;
  height: 100vh;
  width: 100%;
  position: fixed;
  z-index: 100;
}

/* Header */
header {
  background-color: #201049;
  border-bottom: 2px solid #da2ff1;
  padding: 10px;
  position: relative;
  z-index: 1;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo-container {
  display: flex;
  align-items: center;
  margin-left: 10px;
}

.logo img {
  width: 40px;
  height: 40px;
  padding: 10px;
  margin: 0;
}

.logo-link {
  text-decoration: none;
  color: inherit;
}

.company-name {
  font-family: "Spicy Rice", cursive;
  color: white;
  font-size: 24px;
  margin-left: 5px;
}

/* Nav */
nav {
  display: flex;
  align-items: center;
  margin-right: 7%;
}

nav ul {
  list-style: none;
  display: flex;
  gap: 70px;
  margin: 0;
  padding: 14px;
  border: 2px solid #920ad1;
  border-radius: 50px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

nav a {
  font-family: "Kreon", serif;
  color: white;
  text-decoration: none;
  display: flex;
  align-items: center;
  transition: color 0.5s, width 0.5s 0.3s;
}

nav a i {
  margin-right: 10px;
  font-size: 24px;
}

nav a span {
  width: 0;
  overflow: hidden;
  white-space: nowrap;
  transition: width 1s ease;
  transition-delay: 0.3s;
}

nav a:hover span {
  width: auto;
  transition-delay: 0s;
}

nav a:hover {
  color: #bf7be6;
}

/* hide the navigation icon only when screen width is more than 700px */
.nav-icon {
  display: none;
  cursor: pointer;
  margin-left: 100%;
}

/* Style the bubble container */
.join-us {
  display: inline-block;
  padding: 10px 20px;
  background-color: #bf5cec;
  color: white;
  border-radius: 30px;
  transition: box-shadow 0.3s, background-color 0.3s;
  margin-right: 10px;
}

/* Remove text decoration on the link */
.join-us a {
  text-decoration: none;
  color: inherit;
}

/* Add glow effect on hover */
.join-us:hover {
  cursor: pointer;
  background-color: #af2cec;
  box-shadow: 0 0 10px rgba(0, 0, 0, 10);
}

/* Centered sections */
.container {
  flex: 1;
  max-width: 90vw;
  margin: 0 auto;
}

.container h4 {
  flex: 1;
  max-width: 80vw;
  margin: 0 auto;
  font-family: "Merriweather", serif;
  font-size: 23px;
  line-height: 1.7;
  font-weight: lighter;
}

.centered-section {
  padding: 10vh 0;
  margin-bottom: 20px;
}

.centered-section h2 {
  font-weight: lighter;
  font-family: "Fugaz One", cursive;
  font-size: 24px;
  margin-bottom: 20px;
}

/* Footer */
.footer {
  background-color: #201049;
  border-top: 2px solid #da2ff1;
  padding: 20px 0;
}

.row {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.footer-col {
  width: calc(25% - 30px);
  margin-right: 15px;
  padding: 0 15px;
}

.footer-col:last-child {
  margin-right: 0;
}

.footer-col h4 {
  font-size: 20px;
  color: #ffffff;
  text-transform: capitalize;
  margin-bottom: 35px;
  font-weight: 500;
  position: relative;
}

.footer-col h4::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: -10px;
  background-color: #e91e63;
  height: 2px;
  box-sizing: border-box;
  width: 50px;
}

.footer-col ul li:not(:last-child) {
  margin-bottom: 10px;
}

.footer-col ul li a {
  font-size: 20px;
  text-transform: capitalize;
  text-decoration: none;
  font-weight: 300;
  color: white;
  display: block;
  transition: all 0.3s ease;
}

.footer-col ul li a:hover {
  color: #bf7be6;
  padding-left: 8px;
}

.footer-col .social-links a {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  height: 60px;
  width: 60px;
  background-color: rgba(255, 255, 255, 0.2);
  margin: 0 15px 15px 0;
  text-align: center;
  border-radius: 50%;
  color: #ffffff;
  font-size: 35px;
  transition: all 0.5s ease;
}

.footer-col .social-links a:hover {
  color: #72539b;
  background-color: white;
}

/* Copyright notice */
.copyright {
  text-align: center;
  color: #ffffff;
  margin-top: 20px;
  padding-top: 10px;
  border-top: 1px solid rgba(255, 255, 255, 0.2);
  position: relative;
  bottom: 0;
  width: 100%;
}

/* construction */
.concontainer {
  text-align: center;
}

.construction-image {
  max-width: 100%;
  height: auto;
  margin-bottom: 20px;
}

.concontainer h1 {
  font-family: "Kreon", serif;
  font-size: 24px;
  color: #fcfbfb;
  margin-bottom: 25px;
}

/* Rectangle section styling */
.rectangle-section {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  grid-gap: 20px;
  margin: 10px;
}

.rectangle {
  position: relative;
  background-color: #876ae6;
  border: 1px solid transparent;
  padding: 10px;
  display: flex;
  align-items: center;
  cursor: pointer;
  transition: all 0.3s ease;
}

.rectangle:hover {
  border-color: #5c4b99;
  transform: scale(1.05);
}

.rec-icon {
  position: absolute;
  top: 50%;
  left: 10px;
  transform: translateY(-50%);
  width: 20px;
  height: 20px;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  margin-right: 10px;
}

.rec-text {
  font-family: "Gloria Hallelujah", cursive;
  flex: 1;
}

/* Extension section */
.extension-section {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  grid-gap: 15px;
  margin-top: 20px;
}

.extension-box {
  background-color: rgba(160, 68, 252, 0.2);
  border: 1px solid transparent;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: all 0.3s ease;
  text-decoration: none;
}

.extension-box:hover {
  border-color: rgba(160, 68, 252, 0.6);
  transform: scale(1.05);
}

.extension-box a {
  text-decoration: none;
  color: white;
}

.extension-icon {
  margin-bottom: 10px;
}

.extension-icon img {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  transition: transform 0.9s ease;
}

.extension-box:hover .extension-icon img {
  transform: rotate(360deg);
}

.extension-box h3 {
  font-size: 20px;
  margin-bottom: 10px;
}

.extension-box p {
  font-family: "Kreon", serif;
  font-size: 16px;
  text-align: center;
}

.privacy-tos {
  font-family: "Dangrek", cursive;
  text-align: left;
  font-size: 20px;
}

.privacy-tos a {
  color: white;
}

.disicon {
  height: 60px;
}

/* the profile section */
#profiles {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 20px;
  margin-top: 20px;
}

/* Apply profile styling */
.profile {
  background: linear-gradient(to bottom, #4b36c0, #5a1ef1cc), black;
  border-radius: 8px;
  padding: 10px;
  text-align: center;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
  transition: all 0.3s ease;
  cursor: pointer;
}

.profile:hover {
  transform: scale(1.05);
}

.profile a {
  text-decoration: none;
  color: inherit;
  display: block;
}

.avatar {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  object-fit: cover;
  margin: 0 auto;
}

.username {
  margin-top: 10px;
  font-size: 18px;
  color: white;
  text-decoration: none;
}

.about {
  margin-top: 10px;
  font-size: 14px;
  color: white;
  text-decoration: none;
}

.profile-link {
  text-decoration: none;
}

/* CSS for the Search Bar and Results */
#search {
  text-align: center;
  background: none;
  margin-top: -4%;
  margin-bottom: -30px;
  padding-bottom: 30px;
}

#search h2 {
  color: #fff;
  font-size: 24px;
}

.search-bar {
  background-color: rgba(160, 68, 252, 0.2);
  color: #fff;
  border: none;
  padding: 5px;
  width: 30%;
  font-size: 16px;
  margin: 0 auto;
  border: 2px solid rgba(160, 68, 252, 0.7);
}

.search-results {
  list-style: none;
  padding: 0;
  background-color: rgba(160, 68, 252, 0.2);
  margin-top: 10px;
  margin-bottom: 10px;
  width: 30%;
  margin: 0 auto;
}

.search-results li {
  padding: 10px;
  color: #fff;
  font-size: 16px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.3);
}

/* Hover effect for search results */
.search-results li:hover {
  background-image: linear-gradient(
    to right,
    rgba(255, 0, 0, 0.7),
    rgba(255, 0, 255, 0.7)
  );
}

/* Link styling for the entire result box */
.search-results li a {
  text-decoration: none;
  color: inherit;
  display: block;
}

.search-bar::placeholder {
  color: rgb(255, 255, 255, 0.8);
}

/* Media Queries */
@media screen and (max-width: 700px) {
  .centered-section h2 {
    font-size: 20px;
  }

  .company-name {
    display: none;
  }

  .nav-icon {
    display: block;
  }

  nav ul {
    display: none;
    gap: 0;
  }

  nav a i {
    font-size: 20px;
  }

  /* Style for the drop-down menu */
  .show-nav ul {
    display: flex;
    flex-direction: column;
    background-color: #201049;
    position: absolute;
    top: 235%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 200px;
    border-radius: 5px;
    z-index: 2;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    padding-top: 3px;
    padding-bottom: 3px;
  }

  .icon-rotate {
    transition: transform 0.3s ease;
  }

  .icon-rotate.rotate {
    transform: rotate(360deg);
  }

  /* Style for the rectangular container around nav options */
  .nav-option {
    position: relative;
    margin: 5px 0;
    border: 2px solid hsl(332, 86%, 70%);
    z-index: -1;
    overflow: hidden;
    padding: 5px 0;
  }

  .nav-option:hover {
    cursor: pointer;
  }

  /* Style for the links */
  .nav-option a {
    text-decoration: none;
    color: inherit;
    display: block;
    padding: 5px;
  }

  .nav-option a:hover {
    color: #e74c3c;
  }

  #preloader {
    background-size: 20%;
  }

  #profiles {
    grid-template-columns: repeat(2, 1fr);
  }

  .extension-section {
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  }

  .rectangle-section {
    grid-template-columns: 1fr;
  }

  #search {
    margin-top: -13%;
  }

  .search-bar,
  .search-results {
    width: 80%;
  }

  .footer-col {
    width: calc(50% - 15px);
    margin-right: 0;
    margin-bottom: 30px;
  }
}
